In [1]:
from transformers import AutoModelForSequenceClassification, AutoTokenizer
from transformers import pipeline
import pandas as pd
import numpy as np
from ganacheconnector import contractConnector
import json
from web3 import Web3, HTTPProvider

In [2]:
blockchain_address = 'http://127.0.0.1:8545'
compiled_contract_path = '../build/contracts/P2PTest.json'
deployed_contract_address = '0x6d72dC5be82840419bde6758D04Cc37102eB0473'
defaultAccount = 0

web3 = Web3(HTTPProvider(blockchain_address))
web3.eth.accounts[defaultAccount]
web3.eth.defaultAccount = web3.eth.accounts[defaultAccount]
c = contractConnector(blockchain_address,compiled_contract_path,deployed_contract_address,defaultAccount)

In [6]:
classifier = pipeline("zero-shot-classification",model="facebook/bart-large-mnli")
categories = ['grocery', 'medical bills', 'home improvement', 'debt', 'Job Loss', 'auto repair', 'pet care', 'funeral', 'business needs']

In [5]:
df_all_loans = c.get_all_loan_struct_info()
df_all_loans.head()

,shortDescription,loanDescription,loanId,loanDuration,totalAmount,amountFunded,interestRate,numFunders,EXISTS,fundedStatus
0,Grocery help needed,I have not yet received my paycheck and I need...,0,1,120,95,3,3,True,False
0,Kitched home rennovation,I have just moved into the neighborhood and am...,1,12,1000,222,10,1,True,False
0,Credit card payment help,The next billing cycle for my credit card debt...,2,2,375,100,4,1,True,False
0,"Lost job, need help with bills",I was a cleaning staff at the local shopping m...,3,3,775,75,5,1,True,False
0,Unforseen accident and car repair,I got into a car accident last month and my ca...,4,5,1250,500,3,1,True,False

In [ ]:
results = classifier(df_all_loans.loanDescription.tolist(),categories,multi_class=False)

The `multi_class` argument has been deprecated and renamed to `multi_label`. `multi_class` will be removed in a future version of Transformers.

In [ ]:
results

In [ ]:
def analysis(query, esg_cat):
    result = model(query, esg_cat, multi_class=True)
    df_result = pd.DataFrame(list(zip(result["labels"],result["scores"])),columns=['Topic','Score'])
    top_cats = df_result[df_result['Score']>=0.8]['Topic'].tolist()
    print("\n ",query)
    plotter(df_result)
    return top_cats