In [240]:
import json
from web3 import Web3, HTTPProvider
import pandas as pd

#https://dev.to/gcrsaldanha/deploy-a-smart-contract-on-ethereum-with-python-truffle-and-web3py-5on

<h4>Get local Access to our ganache accounts:</h4>

In [241]:
blockchain_address = 'http://127.0.0.1:8545'
compiled_contract_path = '../build/contracts/P2PTest.json'
deployed_contract_address = '0x6d72dC5be82840419bde6758D04Cc37102eB0473'
defaultAccount = 0

web3 = Web3(HTTPProvider(blockchain_address))
web3.eth.accounts[defaultAccount]
web3.eth.defaultAccount = web3.eth.accounts[defaultAccount]

In [208]:
class contractConnector: 
    
    def __init__(self,blockchain_address,compiled_contract_path, deployed_contract_address,defaultAccount=0): 
        self.blockchain_address = blockchain_address 
        self.compiled_contract_path = compiled_contract_path
        self.deployed_contract_address = deployed_contract_address 
        self.web3 = Web3(HTTPProvider(self.blockchain_address))
        self.web3.eth.defaultAccount = self.web3.eth.accounts[defaultAccount]
        with open(self.compiled_contract_path) as file:
            self.contract_json = json.load(file)  # load contract info as JSON
            self.contract_abi = self.contract_json['abi']
        self.contract = self.web3.eth.contract(address=self.deployed_contract_address, abi=self.contract_abi)
        
    def test_connection(self):
        return web3.isConnected()
    
    def get_borrrower_struct_info(self,borrower_id,address=False): 
        '''
        Get the borrower struct information from a specific borrower id
        '''
        if address: 
            borrower_id = self.contract.functions.BorrowerAddress2Id(address).call()
        borrower_struct = pd.DataFrame(self.contract.functions.borrowers(borrower_id).call()).T
        borrower_struct.columns = ["borrowerPublicKey","firstName","lastName","accountBalance","numLoans","borrowerId","Exists"]
        return borrower_struct
    
    def get_investor_struct_info(self,investor_id,address=False):
        '''
        Get the investor struct information from a specific investor_id id
        '''
        if address: 
            investor_id = self.contract.functions.InvestorAddress2Id(address).call()
        investor_struct = pd.DataFrame(self.contract.functions.investors(investor_id).call()).T
        investor_struct.columns = ["investorPublicKey","firstName","lastName","accountBalance","numInvestments","investorId","Exists"]
        return investor_struct
    
    def get_loan_struct_info(self,loan_id,appendBorrower=False):
        '''
        A function that will take in a loan id and return the loan struct information and optional the borrower who created it's information
        '''
        loan_struct = pd.DataFrame(self.contract.functions.loans(loan_id).call()).T
        loan_struct.columns = ["shortDescription","loanDescription","loanId","loanDuration","totalAmount","amountFunded","interestRate","numFunders","EXISTS","fundedStatus"]
        if appendBorrower: 
            borrower_address = self.contract.functions.loanToOwner(loan_id).call()
            #borrower_id = self.contract.functions.BorrowerAddress2Id(borrower_address).call()
            borrower_struct = self.get_borrrower_struct_info(borrower_id=None,address=borrower_address)
            loan_struct = pd.concat([loan_struct,borrower_struct],axis=1)
        return loan_struct
    
    def get_loan_contract_struct(self,lcid): 
        lc_struct = pd.DataFrame(self.contract.functions.loancontracts(lcid).call()).T
        lc_struct.columns = ["borrowerPublicKey","investorPublicKey","originalInvestmentAmount","originalInvestmentAmountInvestor","currentPaybackAmount",
                            "interestRate","loanTerm","loanId","loanContractId"] 
        return lc_struct
    
    def getInvestorLoanContracts(self,investorAddress): 
        loancontractids = self.contract.functions.getLoanContractsInvestorHas(investorAddress).call()
        lcs = []
        for lcid in loancontractids: 
            lcs.append(self.get_loan_contract_struct(lcid))
        df_lcs = pd.concat(lcs,axis=0)
        return df_lcs
    
    def get_all_loans_struct_by_borrower(self,borrowerAddress):
        loan_ids = self.contract.functions.getLoansBorrowerHasCrerated(borrowerAddress).call()
        ls = []
        for lid in loan_ids: 
            ls.append(self.get_loan_struct_info(lid,True))
        df_loans = pd.concat(ls,axis=0)
        return df_loans
    
    
    def get_all_loan_struct_info(self,appendBorrower=False): 
        '''
        A function to get all of the loans that have been created that we 
        '''
        
        all_loan_ids = list(range(0,self.contract.functions.getTotalNumLoans().call()))
        ls = []
        for lid in all_loan_ids: 
            ls.append(self.get_loan_struct_info(lid,appendBorrower))
        df_loans = pd.concat(ls,axis=0)
        return df_loans
    
    def get_all_borrowers_struct_info(self):
        '''
        A function to get all struct info for all borrowers that we have 
        Looks at a range of the total number of borrowers for the id --> i.e. numTotalBorrowers = 7 means [0,1,2,...,6] for the ids as they are sequentially added
        Then we make a call to the function get_borrower_struct_info in our class in our loop of borrower ids
        Finally, convert it to a pandas dataframe 
        '''
        all_borrower_ids = list(range(0,self.contract.functions.getTotalNumBorrowers().call()))
        ls = []
        for bid in all_borrower_ids: 
            ls.append(self.get_borrrower_struct_info(bid))
        df_borrowers = pd.concat(ls,axis=0)
        return df_borrowers
    
    def get_all_investors_struct_info(self):
        '''
        A function to get all struct info for all borrowers that we have 
        Looks at a range of the total number of borrowers for the id --> i.e. numTotalBorrowers = 7 means [0,1,2,...,6] for the ids as they are sequentially added
        Then we make a call to the function get_borrower_struct_info in our class in our loop of borrower ids
        Finally, convert it to a pandas dataframe 
        '''
        all_investor_ids = list(range(0,self.contract.functions.getTotalNumInvestors().call()))
        ls = []
        for lid in all_investor_ids: 
            ls.append(self.get_investor_struct_info(lid))
        df_investors = pd.concat(ls,axis=0)
        return df_investors
    
    def get_investor_info_by_loanid(self,_loanId):
        all_investor_ids = self.contract.functions.getInvestorsByLoanId(_loanId).call()
        investor_amounts = self.contract.functions.getFundingAmountsByLoanId(_loanId).call()
        borrower_ids = self.contract.functions.getBorrowersOnLoan(_loanId).call()
        ls = []
        for iid in all_investor_ids: 
            print(iid)
            ls.append(self.get_investor_struct_info(None,address=iid))
        df_investors = pd.concat(ls,axis=0)
        df_investors["amountInvested"] = investor_amounts
        df_investors["loanId"] = _loanId
        df_investors["borrowerPublicKey"] = borrower_ids
        return df_investors
    
    
    def get_all_funded_loans(self):
        df_loans = self.get_all_loan_struct_info(True)
        df_funded_loans = df_loans[df_loans.numFunders > 0]
        return df_funded_loans
    
    
    def get_loan_info_by_investor(self,_investorAddress): 
        loanIds = self.contract.functions.getLoanIdsByInvestor(_investorAddress).call()
        ls = []
        ls2 = []
        for lid in loanIds: 
            ls.append(self.get_loan_struct_info(lid))
            ls2.append(self.get_investor_info_by_loanid(lid))
        df_ls = pd.concat(ls,axis=0)
        df_ls2 = pd.concat(ls2,axis=0)
        df_ls2 = df_ls2[df_ls2.loanId.isin(loanIds)]
        df_ls2 = df_ls2[df_ls2.investorPublicKey == _investorAddress]
        df_all = pd.concat([df_ls,df_ls2],axis=1)
        return df_all
    
    
    def get_investors_from_borrower(self,borrowerAddress):
        #Take in a borrower address and see all the people/amounts they have to pay back
        loans_created = self.contract.functions.getLoansBorrowerHasCrerated(borrowerAddress).call()
        ls = []
        for i in loans_created:
            ls.append(self.get_investor_info_by_loanid(i))
        df = pd.concat(ls,axis=0)
        df = df[df.borrowerPublicKey == borrowerAddress]
        return df
    
    
    def get_investor_payback_by_borrower_address(self,borrowerAddress):
        loans_borrower_created = self.contract.functions.getLoansBorrowerHasCrerated(borrowerAddress).call()
        contractids = []
        for i in loans_borrower_created: 
            cids = self.contract.functions.getLoanContractIdsFromLoanId(i).call()
            contractids.append(cids)
        contractids = [item for sublist in contractids for item in sublist]
        dta = []
        for i in contractids: 
            dta.append(self.get_loan_contract_struct(i))

        df_lcs = pd.concat(dta,axis=0)
        return df_lcs

<h4>Initialize Web3 Connector to our local blockchain:</h4>

In [209]:
#blockchain_address = 'http://127.0.0.1:8545'
#compiled_contract_path = '../build/contracts/P2PTest.json'
#deployed_contract_address = '0x96025acd196e89FA334efa73296eE3ecC2965d12'
#defaultAccount = 0

#Create the connection
c = contractConnector(blockchain_address,compiled_contract_path,deployed_contract_address,defaultAccount)

<h4>Add some Borrrowers, Investors, Loans, Funding:</h4>

In [210]:
#Add some borrowers 
message = c.contract.functions.createBorrower("MIKE", "LUCAS", 50000).transact({'from': web3.eth.accounts[0]})
message_receipt = web3.eth.wait_for_transaction_receipt(message)
message = c.contract.functions.createBorrower("JOSH", "ABELMAN", 50000).transact({'from': web3.eth.accounts[1]})
message_receipt = web3.eth.wait_for_transaction_receipt(message)
message = c.contract.functions.createBorrower("Elroy", "Games", 100000).transact({'from': web3.eth.accounts[6]})
message_receipt = web3.eth.wait_for_transaction_receipt(message)
message = c.contract.functions.createBorrower("Francois", "Tyler", 85000).transact({'from': web3.eth.accounts[5]})
message_receipt = web3.eth.wait_for_transaction_receipt(message)

#Add some investors 
message = c.contract.functions.createInvestor("Hannah","Morgan",65000).transact({'from':web3.eth.accounts[2]})
message_receipt = web3.eth.wait_for_transaction_receipt(message)
message = c.contract.functions.createInvestor("MIKE","LUCAS",50000).transact({'from':web3.eth.accounts[0]})
message_receipt = web3.eth.wait_for_transaction_receipt(message)

#Create some loans from msg.sender 
message = c.contract.functions.createLoan("For Coffee machine", 12, 1000, 2).transact({'from':web3.eth.accounts[6]})
message_receipt = web3.eth.wait_for_transaction_receipt(message)
message = c.contract.functions.createLoan("For Mortgage in June", 12, 1000, 2).transact({'from':web3.eth.accounts[6]})
message_receipt = web3.eth.wait_for_transaction_receipt(message)
message = c.contract.functions.createLoan("For Groceries", 1, 100, 5).transact({'from':web3.eth.accounts[1]})
message_receipt = web3.eth.wait_for_transaction_receipt(message)

#Allow some investors to fund some loans 
message = c.contract.functions.fundLoan(0,100).transact({'from':web3.eth.accounts[0]})
message_receipt = web3.eth.wait_for_transaction_receipt(message)
message = c.contract.functions.fundLoan(1,50).transact({'from':web3.eth.accounts[0]})
message_receipt = web3.eth.wait_for_transaction_receipt(message)
message = c.contract.functions.fundLoan(0,100).transact({'from':web3.eth.accounts[2]})
message_receipt = web3.eth.wait_for_transaction_receipt(message)

In [211]:
c.get_all_borrowers_struct_info() #Get all borrower info

,borrowerPublicKey,firstName,lastName,accountBalance,numLoans,borrowerId,Exists
0,0x06F3D5DeDFC5af55D8fb7CA9d6Cc19B86e782D26,MIKE,LUCAS,50000,0,0,True
0,0xc5740ed7Ea2fd6D4082a68f048D37Be3a9AEb757,JOSH,ABELMAN,50000,1,1,True
0,0x73b96EcBb2FabE945Be6781507e1320F3538Cd2e,Elroy,Games,100250,2,2,True
0,0xAdfc2d2102DBA8F1497fb89b0D1c1A4678B322eB,Francois,Tyler,85000,0,3,True

In [212]:
c.get_borrrower_struct_info(2) #Get borrower info for id 2

,borrowerPublicKey,firstName,lastName,accountBalance,numLoans,borrowerId,Exists
0,0x73b96EcBb2FabE945Be6781507e1320F3538Cd2e,Elroy,Games,100250,2,2,True

In [213]:
c.get_all_investors_struct_info() #Get all investor info for what we have in the chain

,investorPublicKey,firstName,lastName,accountBalance,numInvestments,investorId,Exists
0,0x45DDA7f8e1CA4F0F216501Af17D04c20A786Bde5,Hannah,Morgan,64900,1,0,True
0,0x06F3D5DeDFC5af55D8fb7CA9d6Cc19B86e782D26,MIKE,LUCAS,49850,2,1,True

In [214]:
c.get_investor_struct_info(1) #Get investor info for investorId 1

,investorPublicKey,firstName,lastName,accountBalance,numInvestments,investorId,Exists
0,0x06F3D5DeDFC5af55D8fb7CA9d6Cc19B86e782D26,MIKE,LUCAS,49850,2,1,True

In [215]:
c.get_all_loan_struct_info(True) #Get all loan data in the system

,loanDescription,loanId,loanDuration,totalAmount,amountFunded,interestRate,numFunders,EXISTS,fundedStatus,borrowerPublicKey,firstName,lastName,accountBalance,numLoans,borrowerId,Exists
0,For Coffee machine,0,12,1000,200,2,2,True,False,0x73b96EcBb2FabE945Be6781507e1320F3538Cd2e,Elroy,Games,100250,2,2,True
0,For Mortgage in June,1,12,1000,50,2,1,True,False,0x73b96EcBb2FabE945Be6781507e1320F3538Cd2e,Elroy,Games,100250,2,2,True
0,For Groceries,2,1,100,0,5,0,True,False,0xc5740ed7Ea2fd6D4082a68f048D37Be3a9AEb757,JOSH,ABELMAN,50000,1,1,True

In [216]:
c.get_all_loans_struct_by_borrower(web3.eth.accounts[6]) #Get all loans account 6 has created

,loanDescription,loanId,loanDuration,totalAmount,amountFunded,interestRate,numFunders,EXISTS,fundedStatus,borrowerPublicKey,firstName,lastName,accountBalance,numLoans,borrowerId,Exists
0,For Coffee machine,0,12,1000,200,2,2,True,False,0x73b96EcBb2FabE945Be6781507e1320F3538Cd2e,Elroy,Games,100250,2,2,True
0,For Mortgage in June,1,12,1000,50,2,1,True,False,0x73b96EcBb2FabE945Be6781507e1320F3538Cd2e,Elroy,Games,100250,2,2,True

In [217]:
c.get_all_loans_struct_by_borrower(web3.eth.accounts[1]) #Get all loans account 1 address has created

,loanDescription,loanId,loanDuration,totalAmount,amountFunded,interestRate,numFunders,EXISTS,fundedStatus,borrowerPublicKey,firstName,lastName,accountBalance,numLoans,borrowerId,Exists
0,For Groceries,2,1,100,0,5,0,True,False,0xc5740ed7Ea2fd6D4082a68f048D37Be3a9AEb757,JOSH,ABELMAN,50000,1,1,True

In [218]:
c.get_investor_info_by_loanid(0) #Get all investors information and funding info on loan id 0

0x06F3D5DeDFC5af55D8fb7CA9d6Cc19B86e782D26
0x45DDA7f8e1CA4F0F216501Af17D04c20A786Bde5

,investorPublicKey,firstName,lastName,accountBalance,numInvestments,investorId,Exists,amountInvested,loanId,borrowerPublicKey
0,0x06F3D5DeDFC5af55D8fb7CA9d6Cc19B86e782D26,MIKE,LUCAS,49850,2,1,True,100,0,0x73b96EcBb2FabE945Be6781507e1320F3538Cd2e
0,0x45DDA7f8e1CA4F0F216501Af17D04c20A786Bde5,Hannah,Morgan,64900,1,0,True,100,0,0x73b96EcBb2FabE945Be6781507e1320F3538Cd2e

In [219]:
c.get_all_funded_loans() #Get all loans that have been funded

,loanDescription,loanId,loanDuration,totalAmount,amountFunded,interestRate,numFunders,EXISTS,fundedStatus,borrowerPublicKey,firstName,lastName,accountBalance,numLoans,borrowerId,Exists
0,For Coffee machine,0,12,1000,200,2,2,True,False,0x73b96EcBb2FabE945Be6781507e1320F3538Cd2e,Elroy,Games,100250,2,2,True
0,For Mortgage in June,1,12,1000,50,2,1,True,False,0x73b96EcBb2FabE945Be6781507e1320F3538Cd2e,Elroy,Games,100250,2,2,True

In [220]:
c.get_loan_info_by_investor(web3.eth.accounts[0]) #Get all the loans Mike has invested in and how much

0x06F3D5DeDFC5af55D8fb7CA9d6Cc19B86e782D26
0x45DDA7f8e1CA4F0F216501Af17D04c20A786Bde5
0x06F3D5DeDFC5af55D8fb7CA9d6Cc19B86e782D26

,loanDescription,loanId,loanDuration,totalAmount,amountFunded,interestRate,numFunders,EXISTS,fundedStatus,investorPublicKey,firstName,lastName,accountBalance,numInvestments,investorId,Exists,amountInvested,loanId,borrowerPublicKey
0,For Coffee machine,0,12,1000,200,2,2,True,False,0x06F3D5DeDFC5af55D8fb7CA9d6Cc19B86e782D26,MIKE,LUCAS,49850,2,1,True,100,0,0x73b96EcBb2FabE945Be6781507e1320F3538Cd2e
0,For Mortgage in June,1,12,1000,50,2,1,True,False,0x06F3D5DeDFC5af55D8fb7CA9d6Cc19B86e782D26,MIKE,LUCAS,49850,2,1,True,50,1,0x73b96EcBb2FabE945Be6781507e1320F3538Cd2e

In [221]:
c.get_loan_info_by_investor(web3.eth.accounts[2]) #Get all the loans Hannah has invested in and how much

0x06F3D5DeDFC5af55D8fb7CA9d6Cc19B86e782D26
0x45DDA7f8e1CA4F0F216501Af17D04c20A786Bde5

,loanDescription,loanId,loanDuration,totalAmount,amountFunded,interestRate,numFunders,EXISTS,fundedStatus,investorPublicKey,firstName,lastName,accountBalance,numInvestments,investorId,Exists,amountInvested,loanId,borrowerPublicKey
0,For Coffee machine,0,12,1000,200,2,2,True,False,0x45DDA7f8e1CA4F0F216501Af17D04c20A786Bde5,Hannah,Morgan,64900,1,0,True,100,0,0x73b96EcBb2FabE945Be6781507e1320F3538Cd2e

In [222]:
c.get_investors_from_borrower(web3.eth.accounts[6]) #Pass in borrower who has funded loans to see who they have to payback

0x06F3D5DeDFC5af55D8fb7CA9d6Cc19B86e782D26
0x45DDA7f8e1CA4F0F216501Af17D04c20A786Bde5
0x06F3D5DeDFC5af55D8fb7CA9d6Cc19B86e782D26

,investorPublicKey,firstName,lastName,accountBalance,numInvestments,investorId,Exists,amountInvested,loanId,borrowerPublicKey
0,0x06F3D5DeDFC5af55D8fb7CA9d6Cc19B86e782D26,MIKE,LUCAS,49850,2,1,True,100,0,0x73b96EcBb2FabE945Be6781507e1320F3538Cd2e
0,0x45DDA7f8e1CA4F0F216501Af17D04c20A786Bde5,Hannah,Morgan,64900,1,0,True,100,0,0x73b96EcBb2FabE945Be6781507e1320F3538Cd2e
0,0x06F3D5DeDFC5af55D8fb7CA9d6Cc19B86e782D26,MIKE,LUCAS,49850,2,1,True,50,1,0x73b96EcBb2FabE945Be6781507e1320F3538Cd2e

In [223]:
#This will fail because we already have a borrower with web3.eth.accounts[6]
#message = c.contract.functions.createBorrower("Francois", "Tyler", 85000).transact({'from': web3.eth.accounts[6]})
#message_receipt = web3.eth.wait_for_transaction_receipt(message)

In [224]:
c.contract.functions.getFundingAmounts(0).call()

[100, 100]

In [225]:
#Let's now payback an investor                 #InvestorId, LoanId, Amount
message = c.contract.functions._paybackInvestor(1,0,50).transact({'from':web3.eth.accounts[6]})
message_receipt = web3.eth.wait_for_transaction_receipt(message)

In [226]:
c.contract.functions.getFundingAmounts(0).call()

[50, 100]

In [227]:
c.get_investors_from_borrower(web3.eth.accounts[6]) #Pass in borrower who has funded loans to see who they have to payback

0x06F3D5DeDFC5af55D8fb7CA9d6Cc19B86e782D26
0x45DDA7f8e1CA4F0F216501Af17D04c20A786Bde5
0x06F3D5DeDFC5af55D8fb7CA9d6Cc19B86e782D26

,investorPublicKey,firstName,lastName,accountBalance,numInvestments,investorId,Exists,amountInvested,loanId,borrowerPublicKey
0,0x06F3D5DeDFC5af55D8fb7CA9d6Cc19B86e782D26,MIKE,LUCAS,49900,2,1,True,50,0,0x73b96EcBb2FabE945Be6781507e1320F3538Cd2e
0,0x45DDA7f8e1CA4F0F216501Af17D04c20A786Bde5,Hannah,Morgan,64900,1,0,True,100,0,0x73b96EcBb2FabE945Be6781507e1320F3538Cd2e
0,0x06F3D5DeDFC5af55D8fb7CA9d6Cc19B86e782D26,MIKE,LUCAS,49900,2,1,True,50,1,0x73b96EcBb2FabE945Be6781507e1320F3538Cd2e

In [237]:
c.getInvestorLoanContracts(web3.eth.accounts[0])

BadFunctionCallOutput: Could not transact with/call contract function, is contract deployed correctly and chain synced?

In [236]:
c.contract.functions.InvestorAddress2Id('0x199510150ED1A48CC7D722450f9A8Ed663b0Cbe5').call()

BadFunctionCallOutput: Could not transact with/call contract function, is contract deployed correctly and chain synced?

In [229]:
message = c.contract.functions._paybackInvestor(1,0,25).transact({'from':web3.eth.accounts[6]})
message_receipt = web3.eth.wait_for_transaction_receipt(message)

In [230]:
c.get_investors_from_borrower(web3.eth.accounts[6]) #Pass in borrower who has funded loans to see who they have to payback

0x06F3D5DeDFC5af55D8fb7CA9d6Cc19B86e782D26
0x45DDA7f8e1CA4F0F216501Af17D04c20A786Bde5
0x06F3D5DeDFC5af55D8fb7CA9d6Cc19B86e782D26

,investorPublicKey,firstName,lastName,accountBalance,numInvestments,investorId,Exists,amountInvested,loanId,borrowerPublicKey
0,0x06F3D5DeDFC5af55D8fb7CA9d6Cc19B86e782D26,MIKE,LUCAS,49925,2,1,True,25,0,0x73b96EcBb2FabE945Be6781507e1320F3538Cd2e
0,0x45DDA7f8e1CA4F0F216501Af17D04c20A786Bde5,Hannah,Morgan,64900,1,0,True,100,0,0x73b96EcBb2FabE945Be6781507e1320F3538Cd2e
0,0x06F3D5DeDFC5af55D8fb7CA9d6Cc19B86e782D26,MIKE,LUCAS,49925,2,1,True,50,1,0x73b96EcBb2FabE945Be6781507e1320F3538Cd2e

In [231]:
#Get loan contracts that Mike has invested in -- account6 (investor id is 1)

c.contract.functions.getLoanContractsInvestorHas(web3.eth.accounts[0]).call()

[0, 1]

In [232]:
c.getInvestorLoanContracts(web3.eth.accounts[0])

,borrowerPublicKey,investorPublicKey,originalInvestmentAmount,currentPaybackAmount,interestRate,loanTerm,loanId,loanContractId
0,0x73b96EcBb2FabE945Be6781507e1320F3538Cd2e,0x06F3D5DeDFC5af55D8fb7CA9d6Cc19B86e782D26,100,25,2,12,0,0
0,0x73b96EcBb2FabE945Be6781507e1320F3538Cd2e,0x06F3D5DeDFC5af55D8fb7CA9d6Cc19B86e782D26,50,50,2,12,1,1

In [233]:
c.get_investor_payback_by_borrower_address(web3.eth.accounts[6]) #Pass in borrower who has loans and see who they need to payback

,borrowerPublicKey,investorPublicKey,originalInvestmentAmount,currentPaybackAmount,interestRate,loanTerm,loanId,loanContractId
0,0x73b96EcBb2FabE945Be6781507e1320F3538Cd2e,0x06F3D5DeDFC5af55D8fb7CA9d6Cc19B86e782D26,100,25,2,12,0,0
0,0x73b96EcBb2FabE945Be6781507e1320F3538Cd2e,0x45DDA7f8e1CA4F0F216501Af17D04c20A786Bde5,100,100,2,12,0,2
0,0x73b96EcBb2FabE945Be6781507e1320F3538Cd2e,0x06F3D5DeDFC5af55D8fb7CA9d6Cc19B86e782D26,50,50,2,12,1,1

In [234]:
message = c.contract.functions._paybackInvestor(1,1,40).transact({'from':web3.eth.accounts[6]})
message_receipt = web3.eth.wait_for_transaction_receipt(message)

In [235]:
c.get_investor_payback_by_borrower_address(web3.eth.accounts[6]) #Pass in borrower who has loans and see who they need to payback

,borrowerPublicKey,investorPublicKey,originalInvestmentAmount,currentPaybackAmount,interestRate,loanTerm,loanId,loanContractId
0,0x73b96EcBb2FabE945Be6781507e1320F3538Cd2e,0x06F3D5DeDFC5af55D8fb7CA9d6Cc19B86e782D26,100,25,2,12,0,0
0,0x73b96EcBb2FabE945Be6781507e1320F3538Cd2e,0x45DDA7f8e1CA4F0F216501Af17D04c20A786Bde5,100,100,2,12,0,2
0,0x73b96EcBb2FabE945Be6781507e1320F3538Cd2e,0x06F3D5DeDFC5af55D8fb7CA9d6Cc19B86e782D26,50,10,2,12,1,1

<h4>Scratch Work:</h4>

In [132]:
#c.contract.functions.getBorrowerNames().call()

['MIKE', 'JOSH', 'Elroy', 'Francois']

In [138]:
c.contract.functions.getTotalNumInvestors().call()

2

In [95]:
c = contractConnector(blockchain_address,compiled_contract_path,deployed_contract_address,defaultAccount)
print(c.get_borrrower_struct_info(3))
print()
print(c.get_borrrower_struct_info(None,'0x2b3812162f640A01bd86317D88b38b633a41A3aa'))

                            borrowerPublicKey firstName lastName  \
0  0x4f3CC9d7c342b5B037034e8f7bD1989FCD823F8B  Francois    Tyler

  accountBalance numLoans borrowerId Exists
0          85000        0          3   True

                            borrowerPublicKey firstName lastName  \
0  0x2b3812162f640A01bd86317D88b38b633a41A3aa      MIKE    LUCAS

  accountBalance numLoans borrowerId Exists
0          50000        0          0   True

In [63]:
#Get some borrower struct information
borrower_struct = pd.DataFrame(c.contract.functions.borrowers(0).call()).T
borrower_struct.columns = ["borrowerPublicKey","firstName","lastName","accountBalance","numLoans","borrowerId","Exists"]
borrower_struct

,borrowerPublicKey,firstName,lastName,accountBalance,numLoans,borrowerId,Exists
0,0x2b3812162f640A01bd86317D88b38b633a41A3aa,MIKE,LUCAS,50000,0,0,True

In [28]:
blockchain_address = 'http://127.0.0.1:8545'
# Client instance to interact with the blockchain
web3 = Web3(HTTPProvider(blockchain_address))
# Set the default account (so we don't need to set the "from" for every transaction call)
web3.eth.defaultAccount = web3.eth.accounts[0]

In [29]:
web3.eth.defaultAccount

'0x2b3812162f640A01bd86317D88b38b633a41A3aa'

In [30]:
# Path to the compiled contract JSON file
#compiled_contract_path = '../build/contracts/P2PLending.json'
compiled_contract_path = '../build/contracts/P2PTest.json'
# Deployed contract address (see `migrate` command output: `contract address`)
deployed_contract_address = '0x817ff792Dd041caa93Dbe1f419eCce6BFA610939'

In [31]:
with open(compiled_contract_path) as file:
    contract_json = json.load(file)  # load contract info as JSON
    contract_abi = contract_json['abi']  # fetch contract's abi - necessary to call its functions

In [32]:
# Fetch deployed contract reference
contract = web3.eth.contract(address=deployed_contract_address, abi=contract_abi)

# Call contract function (this is not persisted to the blockchain)
#message = contract.functions.sayHello().call()

#print(message)

In [33]:
web3.isConnected()

True

In [34]:
#tx_hash = greeter.functions.setGreeting('Nihao').transact()
#>>> tx_receipt = w3.eth.wait_for_transaction_receipt(tx_hash)
#>>> greeter.functions.greet().call()
#'Nihao'
message = contract.functions.createBorrower("MIKE", "LUCAS", 50000).transact({'from': web3.eth.accounts[0]})
message_receipt = web3.eth.wait_for_transaction_receipt(message)


message = contract.functions.createBorrower("JOSH", "ABELMAN", 50000).transact({'from': web3.eth.accounts[1]})
message_receipt = web3.eth.wait_for_transaction_receipt(message)

In [19]:
#message_receipt

In [35]:
contract.functions.getBorrowerNames().call()

['MIKE', 'JOSH']

In [36]:
contract.functions.borrowerToOwner(1).call()

'0x8355C08DF3010848F350d741c1edd3B4033ED5E9'

In [37]:
contract.functions.borrower(web3.eth.accounts[1]).call()

1

In [38]:
contract.functions.borrowerToOwner(1).call({'from': web3.eth.accounts[0]})

'0x8355C08DF3010848F350d741c1edd3B4033ED5E9'